body
{
margin: 0 ;
text-align: center;
font-family: 'Merriweather', serif;
color: #40541E;
}

p
{
  line-height: 2;
}

hr
{
  color: grey;
  height: 0;
  border-top: dotted 6px;
  width: 4%;
  margin: 50px auto;
}

h1
{
color: #66BFBF;
    margin-top: 100px;
    margin-bottom: 0;
    font-size: 5.625rem;
    font-family: 'Sacramento', cursive;
}

h2
{color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
}

h3
{color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
}

a
{color: #11999e;
    font-family: 'Montserrat', sans-serif;
    margin:10px 30px;
    text-decoration: none;
}
a:hover
{
  color: #EAF6F6;
}
.top-container
{
  background-color: #EAF6F6;
  position: relative;
  padding: 100px;
  margin-bottom: 100px;

}
.middle-container
{

}
.bottom-container
{
  background-color: #66BFBF;
  padding: 40px 0 15px 0;
  margin:100px auto auto auto;
}

.top-para
{color: #66BFBF;
  font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
}
.mountain
{
  background-color: #EAF6F6;
  height: 300px;
  margin-top: 100px;
}

.top-cloud
{

height: 45px;
width: 150px;
position: absolute;
right: 300px;
top: 100px;
}

.bottom-cloud
{

  height: 45px;
  width: 150px;
  position: absolute;
  bottom: 600px;
  left: 240px;

}

.c
{
  border-radius: 100%;
  height: 150px;
  width: 25%;
  float: left;
  margin-right: 30px;
}
.python
{
    height: 150px;
    border-radius: 100%;
    width: 25%;
    float: right;
    margin-left: 30px;
}
.web-developer
{
    height: 150px;
    border-radius: 100%;
    width: 25%;
    float: left;
    margin-right: 30px;
}

.basketball
{
height: 150px;
  border-radius: 100%;
  width: 25%;
float: right;
margin-left: 30px;
}
.skill-row
{
  width: 50%;
  /*position: relative;
  left: 340px; you can do this way also*/
  margin: 100px auto 200px auto;
  text-align: left;
}

.intro{
  width: 30%;
  margin: auto;
}

.contact
{
  width: 40%;
  margin: 30px auto;
}
.butn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  text-shadow: 1px 1px 3px #666666;
font-family: 'Montserrat', sans-serif;
  color: #EAF6F6;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.butn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.copyright
{
  font-size: 0.75rem;
  color: #EAF6F6;
  padding: 20px 0;
}
